<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>travelScraper</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link rel="stylesheet" href="/public/assets/css/style.css">
</head>
    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Travel News Scraper</a>
        <ul class="nav-buttons">
          <li><a href="/scrape" class="waves-effect waves-light btn">Scrape New Articles</a></li>
          <li><a href="/clear" class="waves-effect waves-light btn">Clear Old Articles</a></li>
        </ul>
      </div>
    </nav>

<body>
    {{{ body }}}
</body>

<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="/public/app.js"></script>
</html>